@import "header";
@import "element";

.svgActive {
  background: #E6F7FF;
  border-radius: 2px;
  p{
    color: #0092E1;
  }
}

.tnBig{
  .el-checkbox{
    display: block;
  }
}

.tn-in-big {
  width: 156px !important;
}

.tn-in-large {
  width: 136px !important;
}

.tn-in-middle {
  width: 110px !important;
  .el-input__suffix {
    top: -4px !important;
  }
  .el-input__prefix {
    display: none !important;
  }
}

.tn-in-small {
  width: 80px !important;
}

.tlr{
  text-align:right;
}

.noDataIcon {
  .el-input__prefix {
    display: none;
  }
}


