@import "vuetify";

*, :after, :before{
  box-sizing: content-box !important;
}

.active-link{
  color: #69f0ae !important;
}

.image-wapper img:hover {
  opacity: .7;
}

.main-container{
  padding-top: 15px;
  padding-bottom: 20px;
  animation: .7s fadein;
  min-height: 100%;
}

@media screen and (max-width: 599.99px) and (orientation: portrait), (max-width: 959.99px) and (orientation: landscape){
  .grid-container{
    grid-template-columns: repeat(auto-fill,minmax(156px,1fr)) !important;
  }
  .list-wapper{
    width: 150px !important;
  }
  .image-wapper{
    width: 150px !important;
    height: 150px !important;
  }
}
