@import "vuetify";

.active-link{
  color: #69f0ae !important;
}

.main-container{
  height: calc(100vh - 100px);
}
.scroll-container{
  position: relative;
  z-index: 1;
  display: block;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow: auto;
}

@media screen and (max-width: 1264px){
  .main-container{
    margin-top: 56px;
    height: calc(100vh - 156px);
  }
}

@media screen and (max-width: 1264px){
  .main-iframe{
    height: calc(100vh - 100px);
  }
}

@media screen and (max-width: 599.99px) and (orientation: portrait), (max-width: 959.99px) and (orientation: landscape){
  .header{
    padding-left: 10px;
    padding-right: 10px;
  }
  .artwork{
    display: none;
  }
  .grid-container{
    grid-template-columns: repeat(auto-fill,minmax(156px,1fr)) !important;
  }
  .list-wapper{
    width: 150px !important;
  }
  .image-wapper{
    width: 150px !important;
    height: 150px !important;
  }
}
