//.v-overlay:before{
//  background-color: rgba(189,189,189,.6) !important;
//}
//.v-overlay--active:before{
//  opacity: 1 !important;
//}
.theme--dark.v-label{
  color: #fff !important;
}
.v-input--slider{
  margin-top: 19px !important;
  padding: 0 10px 0 12px;
}
.theme--dark.v-navigation-drawer {
  background-color: #000 !important;
}
.theme--dark.v-list {
  padding: 0 !important;
}
.application--wrap {
  min-height:calc(100vh - 156px) !important;
  background-image: linear-gradient(#1e3264, #04060c 130%);
}
.navSide-wapper {
  .v-list__tile__action, .v-list__tile__avatar {
    min-width: 32px !important;
  }
  .v-list__tile__title {
    font-size: 16px !important;
  }
}
